body {
    background-color: #FAFAFA;
    font-family: 'Amiko', sans-serif;
    color: #5CB85C;
}

a {
    font-family: 'Source Code Pro';
    letter-spacing: 2px;
}

.center {
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    font-size: 3em;
    text-align: center;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

