* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 300ms all ease-in-out;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #5CB85C;
}

h1,
main,
section,
.cards,
.card,
.project,
.description {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

li {
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(162,211,156, 1) 50%,
    rgba(162,211,156,1) 95%,
    rgba(124,197,118,1) 95%
  );
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

li:hover {
  background-position: bottom center;
}

li a {
  font-weight: bold;
  color: #5CB85C;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}

li:hover a {
  color: #fff;
}

#navbar {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #fafafa;
}

#navbar:hover {
  box-shadow: none;
}

#navbar ul {
  display: flex;
  width: 100%;
}
#navbar li {
  -webkit-flex: 1 1 30%;
  -moz-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  -o-flex: 1 1 30%;
  flex: 1 1 30%;
}

#navbar li.social {
  font-size: 1.1em;
  -webkit-flex: 1 1 15%;
  -moz-flex: 1 1 15%;
  -ms-flex: 1 1 15%;
  -o-flex: 1 1 15%;
  flex: 1 1 15%;
}

main {
  margin: 0;
}

main, section {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
}

section {
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: 3px;
}

.cards {
  position: relative;
  text-align: center;
  width: 100%;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 5px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-width: 270px;
  width: 15%;
  height: 150px;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -o-flex: 1 0 auto;
  flex: 1 0 auto;
  background-color: #e0e0e0;
  font-size: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card:hover {
  transform: scale(1.01);
  border: 1px solid #5CB85C;
}

.project {
  overflow: hidden;
  font-size: 18px;
  background-color: #e0e0e0;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 45px;
}

.description {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 105px;
}

.card:hover .project {
  height: 50px;
  background-color: #5CB85C;
  color: #eee;
}

.card:hover .description {
  height: 100px;
}

.not-started {
  color: #777;
}

.not-started:hover .project {
  color: #fff;
}

.not-started:after {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.2);
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.3s ease;
  transition: all 0.5s;
}

.section,
.project,
.description {
  -ms-align-items: center;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 1572px) {
  .card:last-child {
    max-width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .card:last-child {
    max-width: 100%;
  }
}
